<nav class="navbar navbar-dark sticky-top bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">Express Poll App</a>
    <ul class="navbar-nav flex-row justify-content-center flex-grow-1">
      <li class="nav-item mx-2">
        <a
          class="btn btn-success text-white"
          href="/create"
          title="Create Poll"
        >
          <i class="fa fa-plus"></i> Create New</a
        >
      </li>
      <li class="nav-item mx-2">
        <a class="btn btn-secondary text-white" href="/polls" title="all polls">
          <i class="fa fa-list"></i> My Polls</a
        >
      </li>
      <% if (username) { %>
      <li class="nav-item mx-2">
        <button class="btn btn-outline-info text-white" title="user">
          <i class="fa fa-user"></i>
          <%= username %>
        </button>
      </li>
      <li class="nav-item mx-2">
        <form action="/user/logout" method="post">
          <button class="btn btn-outline-warning" type="submit">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
